<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="../static/js/jquery-3.2.1.js"></script>
        <script src="../static/js/js/bootstrap.js"></script>
        <link rel="stylesheet" href="../static/js/css/bootstrap.css">
        <link rel="stylesheet" href="../static/js/css/bootstrap-theme.css">
        <title> Claim Rank Demo </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- to include static files (i.e. js and css files in an html page in a Flask environment:
        1. set src="/static/js/xxx.js"; 2. static folder is in the same directly with yourapp.py -->
    </head>
    <body>

        <div class="container-fluid" style="height: 100vh; width: 100vw;">

            <div class="row">
                <div class="col-md-12">

                    <div style="text-align:center;">
                        <div style="margin-top: 50px;">
                            <p style="font-size:large;">Claim Rank</p>
                        </div>
                        <br>
                        <p>Enter text below:</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <form action="showResults" method="POST">
                        <textarea id="inputBox" type="text" name="transcript" cols="120" rows="100" style="overflow:scroll; height:0px; "></textarea>
                        <br>
                        <input id="testbtn" type="submit" name="showResults" value="Submit">
                    </form>
                </div>
            </div>






        </div>


        <script>

            $(document).ready(function()
            {
                $("#inputBox").animate({height: "500px"},900);

            });

        </script>
    </body>
</html>

