<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Claim Rank Demo </title>
    </head>
    <body>


        <div style="text-align:center;">
            <p style="font-size:large;"> Welcome to Claim Rank ! </p>
            <br>
            <p>Enter transcript below:</p>
            <form action="showResults" method="POST">
                <textarea type="text" name="transcript" cols="100" rows="100" style="overflow:scroll; height: 400px; width:800px; "></textarea>
                <br>
                <input type="submit" name="showResults" value="Submit">
            </form>
        </div>

    </body>
</html>

